<!DOCTYPE html>
{% extends "inventoryhome/base.html"%}
{% block content %}

      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="btn btn-danger " href="{% url 'inventory-hematology_inventory' %}">Hematology Inventory List</a>
            <a class="btn btn-danger " href="{% url 'inventory-hematology_checkout' %}">Reagent Checkout</a>
            <a class="btn btn-danger " href="{% url 'inventory-hematology_graph' %}">Hematology Inventory Graph View</a>
          </div>
        </div>
      </article>

{% endblock content %}
