<!DOCTYPE html>
{% extends "inventoryhome/base.html"%}
{% block content %}

      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a id='heme' class="btn btn-danger btn-lg" href="{% url 'inventory-hematology' %}">Hematology</a>
            <a class="btn btn-dark btn-lg" href="{% url 'inventory-coagulation' %}">Coagulation</a>
            <a class="btn btn-primary btn-lg" href="{% url 'inventory-chemistry' %}">Chemistry</a>
            <a class="btn btn-success btn-lg" href="{% url 'inventory-endo' %}">Endo</a>
            <a class="btn btn-warning btn-lg" href="{% url 'inventory-urines' %}">Urines</a>
            <a class="btn btn-light btn-lg" href="{% url 'inventory-gasesmetals' %}">GasesMetals</a>
          </div>
        </div>
      </article>




{% endblock content %}
